# Entorno virtual
.venv/
venv/

# Archivos de uv
uv.lock

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Configuración local
.python-version

# VS Code
.vscode/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.swo
